<body>
    <div class="container">
      <p>Leave start date</p>
      <input type="date" [min]="minDate" [(ngModel)]="startDate" name="startDate" required>
      <div class="line"></div>
      <p>Leave end date</p>
      <input type="date" [min]="minDate" [(ngModel)]="endDate" name="endDate" required>
      <div class="line"></div>
      <p>Reason</p>
      <select [(ngModel)]="selectedLevel" name="selectedLevel" required>
        <option [ngValue]="undefined" disabled selected>Select an option</option>
        <option *ngFor="let item of data" [ngValue]="item">{{item.name}}</option>
      </select>
      <div class="line"></div>
      <!-- <input type="text"> -->
      <button type="button" (click)="onsave()">save</button>
    </div>
</body>
