* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-image: url("/assets/astreya_background.png");
    background-size: cover;
  }
  
  .logincontainer {
    padding: 16px;
    height: 100%;
    width: 100%;
  
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
  }
  
  .logo {
    width: 150px;
    height: 150px;
    margin: 20px ;
  }
  
  .login-container h3 {
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .login-container h5 {
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .login-container button {
    background-color: #ff8001;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin: 10px 5px;
    font-size: 13px;
    transition: background-color 0.3s ease;
  }
  
  .login-container button:hover {
    background-color: #ff6a00;
  }
  
  
  .login-container button:active {
    transform: scale(0.95);
  }